* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
/* Header */
.header{
    background-color: #FFF8F3;;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left ;
   
}
nav {
    display: flex;
    justify-content: space-between;
    margin: 0px 200px;
    
    
}

.nav-title {
    font-size: 50px;
    font-weight: 800;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-left: 50px;
    font-size: 25px;
}

.text-primary {
    color: #FD6E0A;
}

.btn-primary {
    height: 64px;
    padding: 18px 35px;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    background-image: linear-gradient(to right, #FD6E0A, rgb(255, 212, 93));

}
/* banner style */
.banner{
    display: flex;
    margin: 0 200px;
    align-items: center;
}
/* .banner img{
    margin-left: 775px;
} */
.banner-sub-title{
    line-height: 62px;
    font-size: 45px;
    font-weight: 600;
}
.banner-title{
    font-size: 85px;
    line-height: 115px;
    font-weight: 700;
    margin-bottom: 30px;
    

}
.banner-dip{
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 30px;
}
/* main section */
main{
    max-width: 1140px;
    margin: 0 auto;
    
}
/* About Section */
.about{
    background: #FFF8F3;
    border-radius: 10px;
    padding: 150px 130px;
    margin-top: 150px;
}
.section-title{
    text-align: center;
    margin-bottom: 40px;
    font-size: 35px;
    line-height: 47px;
    font-weight: 800;
    color: #181818;
}
.about-desrciption{
    text-align: center;
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    font-weight: 400;

}
.about-info{
    margin-top: 20px;
}

.info-title{
    font-size: 17px;
    color: #757575;
    font-weight: 500;
}
.info-des{
    font-size: 20px;
    color: rgb(17, 17, 17);
    font-weight: 700;
    line-height: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
    text-align: center;
}